extends layout

block content
    helpbox
        h2 Help
        ul
            li This page allows you to view and alter the database underlying this website.
            li Browse the pages listed opposite to view the raw data, or to add or delete records.

    h1 #{title}

    h2 Lists
    ul
        li #[a(href="/usergen") List of user-generated pages]

    h2 View Database Tables ``As Is''
    ul
        li #[a(href="/asis/UserGeneratedPage") UserGeneratedPage]

    h2 Remove Records from the Database
    ul
        li #[a(href="/admin/remove_user_generated_page") Remove a user-generated page.]

    h2 Add Records to the Database
    ul
        li #[a(href="/admin/add_user_generated_page") Add a new user-generated page.]

    h2 Amend Existing Records
    ul
        li #[a(href="/admin/amend_user_generated_page_choose") Amend a user-generated page.]