doctype html
html
    head
        title Nkongsamba | #{title}
        // Whichever style sheet is loaded last tends to win in the event of a
        // conflict.
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="/stylesheets/extended.css")
        link(rel="stylesheet", href="/stylesheets/core.css")
    body
        header.banner
            div.logo-container
                img.logo(src="https://placehold.co/100x100")
            div.banner-text
                h1 DIOCÈSE DE NKONGSAMBA
        div.top-menu
            table.tabs
                tr
                    td.tabs
                        div.dropdown
                            button.top-menu #[a.plain(href="/") Accueil]
                        each sectionData, sectionTitle in globalData.sections
                            if !(["Accueil", "Internal Use Only"].includes(sectionTitle))
                                div.dropdown
                                    button.top-menu #{sectionTitle} ▼
                                    div.dropdown-content
                                        each page in sectionData
                                            a(href=`/usergen/${page.code}`) #{page.title}
                        if loggedIn
                            div.dropdown
                                button.top-menu #[a.plain(href="/admin") Admin]

        div.main-body
            block content

        footer.site-footer
            div.footer-container
                div.footer-logo
                    img(src="https://placehold.co/100x100")
                    h2 Diocèse de Nkongsamba
                    p Ce que nos mains ont touché
                div.footer-links
                    h3 Liens Rapides
                    ul
                        li
                            a(href="#") Accueil
                        li
                            a(href="#") Événements
                        li
                            a(href="#") À propos
                        li
                            a(href="#") Contact
                        li
                            if loggedIn
                                a(href="/logout") Se déconnecter
                            else
                                a(href="/login") Se connecter
                div.footer-links
                    h3 Universal
                    ul
                        li
                            a(href="#") Pape Léon
                        li
                            a(href="#") Vatican News
                        li
                            a(href="#") Mission
                        li
                            a(href="#") Doctrine
                div.footer-contact
                    h3 Contact
                    p #[i.fas.fa-map-marker-alt] B.P. 123 Nkongsamba, Cameroun
                    p #[i.fas.fa-envelope] Email: contact@nkongsamba.org
                    p #[i.fas.fa-phone] Tél: +237 6 78 90 12 34
            div.copyright
                p &copy; 2025 Diocèse de Nkongsamba. Tous droits réservés.