doctype html
html
    head
        title Nkongsamba | #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.header
        block content
        footer
            br
            if loggedIn
                p #[a(href="/") Home] | #[a(href="/logout") Log out]
            else
                p #[a(href="/") Home] | #[a(href="/login") Log in]