doctype html
html
    head
        title Nkongsamba | #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.header
        block content
        footer
            br
            p #[a(href="/") Home] | 
                if loggedIn
                    | #[a(href="/admin") Admin] | #[a(href="/logout") Log out]
                else
                    | #[a(href="/login") Log in]